body {
    font-family: Arial;
    background-color: #e29b9b;
    padding: 10px;
    text-align: left;
}

h1 {
    background-color: olivedrab;
    font-size: 28px;
    margin: 20px;
    color: blue;
    padding: 25px;
}

.menu :hover {
    color: greenyellow;
    margin-bottom: 15px;
    padding: 20px;
}

.menu button {
    padding: 8px 12px;
    margin-right: 5px;
    border: 1px solid #aaa;
    background: #c32525;
    cursor: pointer;
}

.section {
    display: none;
    background-color: blueviolet;
    padding: 15px;
    margin: 10px;
}

.footer {
    margin-top: 20px;
    background-color: darkgoldenrod;
    padding: 10px;
}